<footer role=contentinfo>
  <section>
    <p>Public Domain Chronicle is a project of the <a target=_blank href=https://biobricks.org>BioBricks Foundation</a>.</p>
    <p>Help improve this website <a href=https://github.com/publicdomainchronicle/publicdomainchronicle.org>on GitHub</a>.</p>
  </section>
</footer>
