<head>
  <meta charset=UTF-8>
  <title>Distributed Bulletin of Open Science{{#subtitle}}/ {{.}}{{/subtitle}}</title>
  <link href=normalize.css rel=stylesheet>
  <link href=styles.css rel=stylesheet>
</head>
