<head>
  <meta charset=UTF-8>
  <title>Public Domain Chronicle{{#subtitle}} / {{.}}{{/subtitle}}</title>
  <link href=normalize.css rel=stylesheet>
  <link href=styles.css rel=stylesheet>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Public Domain Chronicle">
  <meta name="twitter:description" content="a fast, easy, and free way to secure scientific methods and findings for the public domain">
  <meta name="twitter:image" content="https://publicdomainchronicle.org/twitter.png">
  <meta name="twitter:site" content="@pubdomchronicle">
</head>
