<nav role=navigation>
  <ul>
    <li><a href=/>About</a></li>
    <li><a href=/guide>Users Guide</a></li>
    <li><a href=/server/publish>Publish</a></li>
    <li><a href=/server>Host a Server</a></li>
    <li><a href=/server/accessions>Accession List</a></li>
    <li><a href=/server/rss.xml>RSS Feed</a></li>
    <li><a href=/server/declaration>Declaration</a></li>
    <li><a href=/server/license>License</a></li>
  </ul>
</nav>

