<nav role=navigation>
  <ul>
    <li><a href=/>Home</a></li>
    <li><a href=/guide>Users Guide</a></li>
    <li><a href=/host/publish>Publish</a></li>
    <li><a href=/network>Network</a></li>
    <li><a href=/host/accessions>Accessions</a></li>
    <li><a href=/host/rss.xml>RSS</a></li>
  </ul>
</nav>

