<nav role=navigation>
  <ul>
    <li><a href=/>Home</a></li>
    <li><a href=/overview>Overview</a></li>
    <li><a href=/compare>Compare</a></li>
    <li><a href=/contribute>Contribute</a></li>
    <li><a href=/network>Network</a></li>
    <li><a href=/server/accessions>Data</a></li>
  </ul>
</nav>

