<!doctype html>
<html lang=en>
  {{>head}}
  <body>
    {{>header}}

    {{>nav}}

    <main>
      <p>{{>blurb}}</p>
      <p>In just a few minutes, contributors to science can describe their findings, assign relevant data files, and publish prior art rich in metadata, for others to find, republish, and distribute.</p>
    </main>

    {{>footer}}
  </body>
</html>
