<!doctype html>
<html lang=en>
  {{>head}}
  <body>
    {{>header}}

    {{>nav}}

    <main>
      <section>
        <p>{{>blurb}}</p>
        <p>In just a few minutes, contributors to science can describe their findings, assign relevant data files, and publish prior art rich in metadata, for others to find, republish, and distribute:</p>
      </section>
      {{>button}}
      <section>
        <p>For the latest Public Domain Chronicle news, <a href=https://twitter.com/pubdomchronicle target=_blank>follow the project on Twitter</a>.</p>
        <p>To find and collaborate on software tools for PDC and PDC data, <a href=https://github.com/publicdomainchronicle>code with us on GitHub</a>.</p>
      </section>
    </main>

    {{>footer}}
  </body>
</html>
