<!doctype html>
<html lang=en>
  {{>head}}
  <body>
    {{>header}}

    {{>nav}}

    <main>
      <p>Anyone can run a Public Domain Chronicle server that accepts new submissions and can republishes submissions from other servers automatically.</p>

      <p>Many PDC servers are better than one:</p>

      <ul>
        <li>Servers that republish each other&rsquo;s submissions corroborate each other&rsquo;s timestamps, creating even stronger evidence that a finding was published as prior art by a particular time.</li>

        <li>Servers that republish each other&rsquo;s submissions back up each other&rsquo;s data.</li>

        <li>Severs can customize the submission form to make it easier for particular kinds of contributors. For example, the BioBricks foundation hosts <a href=https://pdc.biobricks.org>a PDC server for synthetic biologists</a>.</li>

        <li>Servers can provide their own search and indexing interfaces for particular kinds of research and reference.</li>
      </ul>

      <p>The source code for Public Domain Chronicle servers, including the one hosted <a href=/host/publish>here on publicdomainchronicle.org</a> is publicly licensed under the terms of The Apache License, Version 2.0.  The source code is available on <a href=https://github.com/biobricks/public-domain-chronicle>GitHub</a>.  Questions, improvements, and feedback are most welcome!</p>
    </main>

    {{>footer}}
  </body>
</html>
