html {
  height: 100%;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 1.7em;
  text-align: center;
}

main,
footer[role=contentinfo] section {
  max-width: 40rem;
}

main {
  color: rgb(102, 102, 102);
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 5rem;
  padding-top: 0.5rem;
  text-align: left;
  vertical-align: top;
}

main p {
  color: rgb(102, 102, 102);
  font-family: "PT Sans", Helvetica, Arial, Lucida, sans-serif;
}

nav {
  margin: 0 auto;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
}

nav ul li {
  display: inline;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li:first-child:before {
  padding-left: 0;
}

nav a {
  color: #777;
  text-transform: uppercase;
}

nav a:hover {
  color: rgb(88, 175, 54);
}

header, nav {
  border-bottom: 1px solid #eee;
}

header {
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #515151;
  font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
}

footer[role=contentinfo] {
  background-color: #eee;
  color: white;
  font-size: 80%;
  margin: 1rem auto 0 auto;
  padding-top: 1rem;
  text-align: right;
  width: 100%;
}

footer[role=contentinfo] section {
  color: rgb(102, 102, 102);
  margin: 0 auto;
  padding: 0 0 1rem 0;
  text-align: center;
}

footer[role=contentinfo] section p {
  text-align: right;
}

table {
  text-align: left;
  width: 100%;
}

table thead {
  vertical-align: bottom;
}

td {
  vertical-align: top;
}

.good {
  background-color: rgb(200,255, 200);
}

.medium {
  background-color: rgb(255, 255, 170);
}

.bad {
  background-color: rgb(255, 200, 200);
}

li {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.logo {
  height: 5rem;
}

a {
  color: #2ea3f2;
  text-decoration: none;
}
